//@import "../bower_components/Materialize/sass/materialize.scss";
@import 'product';
@import 'validation';
@import 'receipt';

.splash {
  display: none;
}

[ng-cloak].splash {
  display: block !important;
}

.splash {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width:100%;
  filter: alpha(opacity=60);
  opacity: 0.6;
  background: #428bca;
}

.splash h2 {
  text-align: center;
  font-size: 3em;
  color:white;
}

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

li:hover {
  background: #eee;
}

.collection-item:hover {
  background: #eee;
}
