.list-item-receipt-details{
  min-height: 100px;
}

.container-item-receipt-thumbnail {
  float: right;
}

.container-item-receipt-text {
}

.img-list-receipts-thumbnail{
  max-width: 100px;
  max-height: 100px;
}

.receiptPreview{
  max-width: 100%;
}
