<!doctype html>
<html lang="en-gb" dir="ltr" class="uk-height-1-1">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Service Production Manager</title>
    <style type="text/css"></style>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <!-- Favicons-->
    <link rel="icon" href="images/favicon/favicon-32x32.png" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- build:css styles/main.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-notify/dist/angular-notify.css" />
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css" />
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/main.css" />
    <!-- endbuild -->
</head>

<body layout="row">

<!--div class="splash" ng-cloak>
    <h2>Service Production Manager</h2>
</div-->

<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2 side-nav-link-base" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-if="$state.current.name !== 'login'">
    <div class="side-nav-link-header">
    <md-toolbar>
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <div class="md-toolbar-tools">
                <h3>Guest</h3>
            </div>
        </div>
    </md-toolbar>
    </div>
    <md-list>
        <md-item class="side-nav-link" ng-repeat="item in menu">
            <side-nav-link flex="100">
            <md-button ng-click="openPage(item)">
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </md-button>
            </side-nav-link>
        </md-item>
    </md-list>
</md-sidenav>
<div layout="column" class="relative" layout-fill role="main">
    <md-toolbar active-side-nav>
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-sm aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                Dashboard
            </h3>
        </div>
    </md-toolbar>
    <md-content flex md-scroll-y>
        <ui-view layout="column" layout-fill layout-padding>
            <div class="inset" hide-sm></div>
        </ui-view>
    </md-content>
</div>


<!--script src="scripts/config.js">
</script-->

<!-- build:js scripts/main.js -->
<!-- bower:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular-mocks/angular-mocks.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/restangular/dist/restangular.js"></script>
<script src="bower_components/spin.js/spin.js"></script>
<script src="bower_components/angular-spinner/angular-spinner.js"></script>
<script src="bower_components/angular-notify/dist/angular-notify.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/angular-cookie/angular-cookie.js"></script>
<script src="bower_components/blob-polyfill/Blob.js"></script>
<script src="bower_components/file-saver.js/FileSaver.js"></script>
<script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>
<script src="bower_components/angular-material-icons/angular-material-icons.min.js"></script>
<!-- endbower -->
<script src="scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>