<md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-content>
                <div>
                    <highchart id="weekOrdersChart" config="weekOrdersConfig"></highchart>
                </div>
            </md-card-content>
        </md-card>
    </div>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card>
            <md-card-content>
                <div>
                    <highchart id="statusCountChart" config="statusCountConfig"></highchart>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
