<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s6">
                <span>Camera:</span>
                <input id="image_filepath" type="file" class="validate" accept="image/*" capture="camera">
                <!--label for="image_filepath">Image Filepath</label-->
                <!--input type="file" accept="image/*" capture="camera"-->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s6">
                <span>Microphone #1:</span>
                <input type="file" accept="audio/*;capture=microphone">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s6">
                <span>Microphone #2:</span>
                <input id="audio_filepath" type="file" class="validate" accept="audio/*" capture="microphone">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s6">
                <span>Video:</span>
                <input id="video_filepath" type="file" class="validate" accept="audio/*" capture="video">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s6">
                <span>Webkit Speech:</span>
                <input type="text" x-webkit-speech>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col s12">
                <div class="speech">
                        <span>
                            <input type="text" name="q" id="transcript" placeholder="Speak" />
                            <button class="waves-effect waves-light btn" onclick="startDictation()">Start Recording</button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>