<div class="container col s12 m6 l6 offset-m3 offset-l3">
    <div class="row"></div>
    <div class="row">
        <div class="input-field">
            <button class="waves-effect waves-light btn col s12" ng-click="toggleDictation()">
                <i class="material-icons col s1">mic</i>
                <div class="col s10">
                    <span ng-if="!recording">Start Dictating</span>
                    <span ng-if="recording">Stop Dictating</span>
                </div>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="">
            <img id="image-test" class="receiptPreview col s12" ng-src="{{receipt.file}}" onload="Materialize.fadeInImage('#image-test')"/>
        </div>
    </div>
</div>
