<md-content layout="row" layout-align="center" >
    <div layout-fill flex-gt-xs="66">
        <div layout="column" layout-align="center">
            <md-content>
                <p>{{order.customer.name}}, {{order.customer.postcode}}</p>
            </md-content>
            <md-content>
                <md-list>
                    <md-list-item ng-repeat="service in order.services" class="md-3-line" ng-click="null">
                        <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ service.name }}</h3>
                            <h4>{{ service.heading }}</h4>
                            <p>{{ service.area }}</p>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
            <md-input-container class="md-block">
                <label>Address Line 2</label>
                <input type="text" class="validate" ng-model="customer.address2">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Town</label>
                <input type="text" class="validate" ng-model="customer.town">
            </md-input-container>
            <md-input-container class="md-block">
                <label>County</label>
                <input type="text" class="validate" ng-model="customer.county">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Postcode</label>
                <input type="text" class="validate" required ng-model="customer.postcode">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Telephone</label>
                <input type="tel" class="validate" required ng-model="customer.telephone">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email</label>
                <input type="email" class="validate" ng-model="customer.email">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Url</label>
                <input type="url" class="validate" required ng-model="customer.url">
            </md-input-container>
            <md-input-container>
                <md-select ng-model="customer.category" placeholder="Select a category">
                    <md-option ng-value="category.name" ng-repeat="category in categories">{{ category.name }}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container>
                <label>Notes</label>
                <textarea class="validate" type="text" ng-model="customer.notes"></textarea>
            </md-input-container>
            <md-button ng-click="submitCustomerNew()" ng-if="!customerInvalid" class="md-raised md-primary">Save Customer</md-button>
            <md-button ng-click="submitCustomerNew()" ng-if="customerInvalid" ng-disabled="true">Save Customer</md-button>
        </div>
    </div>
</md-content>

