<md-content layout="column" layout-align="center" >
    <div>
        <p>{{order.customer.name}}, {{order.customer.postcode}}</p>
    </div>
    <md-divider></md-divider>
    <form name="newServiceForm">
        <div layout-gt-xs="row">
            <div flex="30">
                <md-input-container>
                    <md-select ng-model="newItem.product" placeholder="Select a product">
                        <md-option ng-value="serviceProduct.product" ng-repeat="serviceProduct in serviceProducts">{{ serviceProduct.product.name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="30">
                <md-input-container>
                    <md-select ng-model="newItem.area" placeholder="Select an area">
                        <md-option ng-value="area.name" ng-repeat="area in areas">{{ area.name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="30">
                <md-input-container>
                    <md-select ng-model="newItem.heading" placeholder="Select a heading">
                        <md-option ng-value="heading.name" ng-repeat="heading in headings">{{ heading.name }}</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="10">
                <md-input-container>
                    <div><ng-md-icon icon="add_circle" size="36" ng-click="addNewService()"></ng-md-icon></div>
                </md-input-container>
            </div>
        </div>
    </form>
    <md-divider ng-if="order.totalValue > 0"></md-divider>
    <div layout="column" layout-fill>
        <md-list>
            <md-list-item class="md-3-line noright" ng-repeat="service in order.services">
                <ng-md-icon icon="{{service.product.options.icon}}" size="36" ng-click="removeService(service)"></ng-md-icon>
                <div class="md-list-item-text" ng-class="{'md-offset': service.options.offset }">
                    <h3> {{ service.product.name }} </h3>
                    <p> {{ service.heading }} </p>
                    <p>{{ service.area }}</p>
                </div>
                <div class="md-secondary" >
                    <p>£{{service.product.price}}</p>
                    <ng-md-icon icon="clear" size="36" ng-click="removeService(service)" style="fill:pink"></ng-md-icon>
                </div>
            </md-list-item>
        </md-list>
        <md-divider></md-divider>
        <div layout="row" layout-align="end">
            <div flex="50"></div>
            <div flex="25"><p>Total:</p></div>
            <div flex="nogrow"><p>£{{order.totalValue}}</p></div>
        </div>
        <md-divider></md-divider>
        <!--md-button ng-click="submitOrderNew()" ng-if="order.totalVaue > 0" class="md-raised md-primary">Save Order</md-button-->
        <md-button ng-disabled="order.totalValue == 0" class="md-raised md-primary">Save Order</md-button>
    </div>
</md-content>

